@font-face {
        font-family: "Chunkfive";
        src: url(../assets/fonts/Chunkfive.otf);
}

.font-default {
    font-family: 'Strait', sans-serif;
}

#header {
    height: 60px;
    background-color: #000;
    position: fixed;
    z-index: 10;
}

#header #logo{
    height: 133px;
    position: fixed;
    z-index: 10;
    margin-top: 15px
}

#header #logo img{
    height: 89px;
    float: right;
}

#header ul {
    list-style: none;
    margin-left: 222px;
}

#header ul li {
    float: left;
}

#header ul li.last {
    margin-left: 210px;
}

#header ul li a {
    padding-left: 31px;
    padding-right: 35px;
    height: 61px;
    line-height: 60px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-family: Chunkfive;
    color: #FFF;
}

#header ul li a img {
    height: 45px;
    margin-top: 9px;
}

.content-block {
    height: 750px;
    padding-top: 70px
}

.content-block.first{
    margin-top: 50px;
    padding-top: 0px
}

.content-block#home {
    background-image: url("../banners/omelhor.jpg");
    background-repeat: no-repeat;
    background-position: 47% -137%; 
}

.content-block#ochefe img.ochefe {
   height: 671px;
}

.content-block#localizacao {
    height: 465px;
    padding-top: 60px
}
.content-block#galeria a img{
    height: 183px;
    margin-left: 45px;
}

.content-block#galeria .row{
    margin-bottom: 60px;
}

.content-block#telefone {
    height: 45px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    padding-top: 15px;
}

.content-block#address {
    height: 111px;
    background: #e33526;
    font-family: 'Strait', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}

.content-block#quemsomos div#text{
    padding-right: 64px;
}

.content-block#quemsomos div p{
      margin-top: 20px;
      line-height: 21px;
      text-align: justify
}

.content-block#address h1 {
    font-family: 'Strait', sans-serif;
    font-weight: lighter;
}

.content-block-noimg {
    background-color: #FFF6CE;
}

h2 {
    font-family: Chunkfive;
}
